.container {
  max-width: 800px;
  margin: 0 auto;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2em;
  background-color: #001628;
}

header{
  background-color: #001628;
  padding: 1em;
  text-align: center;
}

nav {
  margin-top: 2em;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

li {
  margin-right: 1em;
}

a {
  text-decoration: none;
  color: #333;
}

a:hover {
  color: #007bff;
}

.download {
  margin-top: 2em;
  display: flex;
  align-items: center;
  justify-content: center;
}

.download img {
  margin-right: 1em;
  height: 50px;
}

main {
  margin: 2em 0;
}

h2 {
  text-align: center;
}

h1 {
  text-align: center;
  color: #fff;
  margin-top: -50px;
}

p {
  max-width: 600px;
  margin: 0 auto;
  text-align: center;
  color: #fff;
}

button {
  display: block;
  margin: 0 auto;
  background-color: #007bff;
  color: white;
  border: none;
  padding: 1em 2em;
  border-radius: 5px;
  font-size: 1.2em;
  cursor: pointer;
  animation-name: jump;
  animation-duration: 0.2s;
  animation-timing-function: ease-out;
  animation-iteration-count: 1;
}


footer {
  background-color: #f8f9fa;
  padding: 1em;
  text-align: center;
}

.logoImage {
  width: 300px;
  height:300px;
  margin-top: -20px;
}

.imageSlider{
  margin-top: 40px;
}


@keyframes jump {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-5px);
  }
  100% {
    transform: translateY(0);
  }
}